name: Update README

on:
  workflow_dispatch: ~
  schedule:
    # https://crontab.guru/daily
    - cron: "0 0 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update README
        run: ./update.sh
      - name: Commit and push
        run: |-
          git diff
          git config user.name "GitHub Actions"
          git config user.email ivorisoutdoors@users.noreply.github.com
          git add README.md
          git commit -m "update README with latest links" || exit 0
          git push
